body {
  font:
    100% Helvetica,
    sans-serif;
  color: #333;
}

.test-system {
  min-width: 10px;
}

.left {
  padding: 0 1.5rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.testapp {
  width: 100%;
  height: 100%;
  background-color: rgb(84, 122, 139);

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.label {
  text-align: center;
}

.close {
  margin: 3px;
}
