node_modules
foundry-config.yaml
foundry
foundry/client
foundry/common
foundry/lang
foundry/tsconfig.json
systems/dnd5e
systems/boilerplate
systems/draw-steel
systems/test-boiler
systems/universal-tabletop-system
.vscode-chrome