{{! Character Tab }}
<section
  class="tab vertical {{tabs.character.id}} {{tabs.character.cssClass}}"
  data-tab="{{tabs.character.id}}"
  data-group="{{tabs.character.group}}"
  id="character"
>
  <div>Some information about our hero</div>
  {{! End Character Tab }}
</section>