{{! Equipment Tab }}
<section
  class="tab equipment-bg {{tabs.equipment.id}} {{tabs.equipment.cssClass}}"
  data-tab="{{tabs.equipment.id}}"
  data-group="{{tabs.equipment.group}}"
  id="equipment"
>
  {{! Melee Weapons }}
  <div>A big weapon</div>
</section>
{{! End Equipment Tab }}