<section class="{{cssClass}} {{actor.type}} flexcol rwk-header" autocomplete="off">
  {{! Sheet Header }}
  <div class="character-flex">
    <div class="tab-flex">
      Block one
      <div>One</div>
      <div>Two</div>
      <div>Three</div>
    </div>
    <div class="tab-flex">
      Block two
      <div>AAA</div>
      <div>BBB</div>
    </div>
    <div class="tab-flex">
      Block three
      <div>WWW</div>
      <div>XXX</div>
      <div>YYY</div>
      <div>ZZZ</div>
    </div>
  </div>
</section>