{{! Notes Tab }}
<section
  class="tab notes-bg {{tabs.notes.id}} {{tabs.notes.cssClass}}"
  id="notes"
  data-tab="{{tabs.notes.id}}"
  data-group="{{tabs.notes.group}}"
>
  <div>Some important notes</div>
</section>