<section class="window-content">
  <section class="character flexcol rwk-sheet" autocomplete="off" data-application-part="main">
    <div>Character Sheet</div>
  </section>
  <section class="character flexcol rwk-header" autocomplete="off" data-application-part="header">
    <div class="character-flex">
      <div class="tab-flex">
        Block one
        <div>One</div>
        <div>Two</div>
        <div>Three</div>
      </div>
      <div class="tab-flex">
        Block two
        <div>AAA</div>
        <div>BBB</div>
      </div>
      <div class="tab-flex">
        Block three
        <div>WWW</div>
        <div>XXX</div>
        <div>YYY</div>
        <div>ZZZ</div>
      </div>
    </div>
  </section>
  <section class="absolute-position" data-application-part="tabs">
    <nav class="sheet-tabs tabs side-tabs">
      <a class="active" data-action="tab" data-group="sheet" data-tab="character" data-tooltip=""
        >Character</a
      >
      <a class="" data-action="tab" data-group="sheet" data-tab="equipment" data-tooltip=""
        >Equipment</a
      >
      <a class="" data-action="tab" data-group="sheet" data-tab="notes" data-tooltip="">Notes</a>
    </nav>
  </section>
  <section
    class="tab character active"
    data-tab="character"
    data-group="sheet"
    id="character"
    data-application-part="character"
  >
    <div>Some information about our hero</div>
  </section>
  <section
    class="tab equipment-bg equipment"
    data-tab="equipment"
    data-group="sheet"
    id="equipment"
    data-application-part="equipment"
  >
    <div>A big weapon</div>
  </section>
  <section
    class="tab notes-bg notes"
    id="notes"
    data-tab="notes"
    data-group="sheet"
    data-application-part="notes"
  >
    <div>Some important notes</div>
  </section>
</section>
