<div class="testapp">
  <span class="close" data-action="closeWindow">{{localize "TESTSYS.DICE.closeIcon"}}</span>
  <img src="{{icon}}" alt="{{label}}" data-action="nextWindow" />
  <div class="label">{{label}}</div>
</div>