body {
  font:
    100% Helvetica,
    sans-serif;
  color: #333;
}

.no-system {
  background-color: rgb(119, 146, 190);
}

.flexleft {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
